
body {

    font-family: 'spotify-circular';
    font-weight: 200;

    color: #FAFAFA;

    text-align: center;
    font-size: 18px;

    background-image: linear-gradient(
        #6B0808,
        #260D0D
    );
    background-attachment: fixed;

}


.summerhack--top{
    margin-left: 20px;
    margin-top: 10px;
}

.img--summerhack--top{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

h2 {
    font-weight: 200;
}

h3 {
    font-weight: 200;
}

img:hover {
    opacity: 0.8;
}

section{
    margin: 50px;
}

.div--data{
    margin: 50px;
}

.div--players{
    margin: 50px;
}

.player{
    margin: 30px;
}

.data--img--portada {
    border-radius: 3px;
    margin-top: 60px;
}

.data--h {
    margin-top: 40px;
    color: #FAFAFA;
}

    .data--h2--titulo {
        margin-top: 40px;
        font-weight: 400;
    }

    .data--h2--artista {
        margin-bottom: 10px;
    }

    .data--h3--feat {
        margin-top: 10px;
        font-size: 18px;
        /* font-style: italic; */
    }


.data--a{
    text-decoration: none;
    color: #FAFAFA;
    padding-bottom: 3px;
}

    .data--a:hover{
        border-bottom: 1px solid #FAFAFA;
    }

    .data--a:active{
        color: #afafaf;
        border-bottom: 1px solid #afafaf;
    }





.div--letra {
    margin-top: 150px;
    font-size: 20px;
    line-height: 35px;
}

.letra--p--estribillo {
    font-weight: 600;
    text-shadow: 1px 1px 10px #260D0D;
}



footer{
    margin-top: 150px;
}

.footer--div {
    height: 50;
    float: left;
    width: 50%;
    box-sizing: border-box;
}

    .footer--div--left {
        text-align: left;
        padding-left: 10px;
    }

    .footer--div--right {
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .img--summerhack {
        width: 200px;
    }
    