header {
    height: 64px;
    background: #29b6f6;
} 

.logo-devrock {
    width: 200px;
    padding: 20px;
}

nav ul {
    float: right;
    margin-right: 20px;
    padding: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.splash {
    width: 100%;
    height: 100vh;
    background: url(../images/background.jpeg) center center fixed;
    background-size: conver;
}

.splash h1 {
    background: black;
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
}

.text{
    margin-top: 40ch;
}

.splash .btn {
    background: #29b6f6;
}