
body {

    font-family: 'Lato', sans-serif;
    color: #FAFAFA;
    text-align: center;
    font-size: 18px;
    font-weight: 300;

    background-image: linear-gradient(
        #6B0808,
        #260D0D
    );
    background-attachment: fixed;

    text-decoration: none;

}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 300;
}



.info {
    margin-top: 40px;
    color: #FAFAFA;
}


#centro {
    font-weight: 400;
}

#fito {
    margin-top: 40px;
    margin-bottom: 10px;
}

#flaco {
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
}

#naturaleza {
    margin-top: 40px;
}

#duracion {
    margin-top: 40px;
}


.boton{
    text-decoration: none;
    color: #FAFAFA;
}

.boton:hover{
    border-bottom: 1px solid #FAFAFA;
}




#letra {
    font-size: 23px;
    line-height: 40px;
}

.estribillo {
    font-weight: 400;
}

