
body {

    font-family: 'spotify-circular';
    font-weight: 200;

    color: #FAFAFA;
    font-style: normal;

    text-align: center;
    font-size: 18px;

    background-image: linear-gradient(
        #6B0808,
        #260D0D
    );
    background-attachment: fixed;

}


h2 {
    font-weight: 200;
}

h3 {
    font-weight: 200;
}

img:hover {
    opacity: 0.8;
}


section{
    margin: 50px;
}

#data{
    margin: 50px;
}

#players{
    margin: 50px;
}

.player{
    margin: 30px;
}

#portada {
    border-radius: 3px;
}

.info {
    margin-top: 40px;
    color: #FAFAFA;
}

    #centro {
        margin-top: 40px;
        font-weight: 400;
    }

    #fito {
        margin-bottom: 10px;
    }

    #flaco {
        margin-top: 10px;
        font-size: 18px;
        font-style: italic;
    }



.boton{
    text-decoration: none;
    color: #FAFAFA;
    padding-bottom: 3px;
}

    .boton:hover{
        border-bottom: 1px solid #FAFAFA;
    }

    .boton:active{
        color: #afafaf;
        border-bottom: 1px solid #afafaf;
    }





#letra {
    margin-top: 150px;
    font-size: 20px;
    line-height: 35px;
}

.estribillo {
    font-weight: 600;
    text-shadow: 1px 1px 10px #260D0D;
}



footer{
    margin-top: 150px;
}

footer div {
    height: 50;
    float: left;
    width: 50%;
    box-sizing: border-box;
}

    .left {
        text-align: left;
        padding-left: 10px;
    }

    .right {
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    #summerhack {
        width: 200px;
    }
    