body {
    margin: 0;
    font-family: 'spotify-circular';
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--white);
}

header {
    height: 8vh;
    width: 100%;
    background: var(--pink);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--white);
    /* display */
    /* position: fixed; */
}

.logo--header {
    height: 4vh;
    margin-left: 20px;
}

.summer--header {
    height: 4vh;
    margin-right: 20px;
}

.div--logo{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.div--summer{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


nav {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    /* height: 200vh; */
    background: red;
}

.splash {
    height: 92vh;
    background: cadetblue;
    /* margin-left: 30px;
    margin-right: 30px; */
}

.splash--top {
    height: 82vh;
    display: flex;
    justify-content: space-around;
    background: var(--pink);
    flex-wrap: wrap;
}

.splash--portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash--img--portada{
    margin: 20px;
}

.splash--episodio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0;
    border: 3px solid var(--white);
    border-radius: 20px;
    margin: 70px 10px;
    width: 400px;
    background: var(--violet);
}

.splash--img--episodio {
    width: 200px;
    /* border: 2px solid  */
    border-radius: 10px;
}


.splash--h1--episodio {
    font-size: 30px;
}



/* 
.splah--spotify {
    width: 250px;
    padding: 30px;
} */


.splash--bottom {
    height: 10vh;
    background: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}






.episodios {
    background: var(--violet);
    /* height: 2000px; */
}

.episodios--container {
    margin-top: 50px;
    margin-bottom: 100px;
}


.episodios--h2--otrosepisodios {
    
}

.truchicards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;

}

.truchicard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px;
    border: 3px solid var(--white);
    border-radius: 20px;
    margin: 20px 20px;
    width: 300px;
    /* height: 400px; */
    background: var(--pink);
}

.truchicard--img {
    /* margin: 1px; */
    width: 180px;
    /* border: 5px solid var(--violet); */
    border-radius: 10px;
}

.truchicard--spotify {
    width: 230px;
    height: 160px;
}

.truchicard--h3--name {
    color: var(--white);
    margin: 20px;
}


footer {
    height: 100px;
    background: cornflowerblue;
}